.about {
  margin: 2rem 0;
  padding: 1rem;
  display: grid;
  max-width: 1200px;

  @include break($medium) {
    margin: 4rem auto 0;
    grid-template-columns: 360px 1fr;
    align-items: center;
  }

  &__image {
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: auto;
      $thickness: 3px;
      $cornersize: 40px;
      $gap: 8px;
      $color: $color-orange;
      padding: calc(2 * $thickness + $gap);
      border: $thickness solid #0000;
      background: conic-gradient(
            at $cornersize calc(3 * $thickness),
            #0000 75%,
            $color 0
          )
          0 0 / calc(100% - $cornersize) calc(100% - 3 * $thickness) border-box,
        conic-gradient(at calc(3 * $thickness) $cornersize, #0000 75%, $color 0)
          0 0 / calc(100% - 3 * $thickness) calc(100% - $cornersize) border-box,
        linear-gradient(0deg, $color calc(2 * $thickness), #0000 0) 50%
          $thickness / calc(100% - 2 * ($cornersize + $gap)) 100% repeat-y
          padding-box,
        linear-gradient(-90deg, $color calc(2 * $thickness), #0000 0) $thickness
          50%/100% calc(100% - 2 * ($cornersize + $gap)) repeat-x padding-box;
    }
  }

  &__text {
    @include break($medium) {
      justify-content: center;
      display: flex;
      flex-direction: column;
      padding: 2rem;
    }

    h2 {
      font-family: $heading;
      text-align: center;
      font-weight: 400;
      font-size: 2rem;

      @include break($medium) {
        font-size: 2.175em;
      }

      @include break($large) {
        font-size: 2.4rem;
      }
    }

    p {
      margin-bottom: 1rem;
      line-height: 1.6;
    }
  }
}

