//error messages for login
.alert {
  margin: 2rem 2rem 1rem;
  padding: 1rem;
  border-radius: 4px;
  color: $color-white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;

  &__icon {
    width: 50px;

    svg {
      width: 2rem;
      height: 2rem;
      // margin-right: 2rem;
    }
  }

  &__message {
    width: calc(100% - 50px);

    a {
      display: none;
    }

    strong {
      margin: 0 3px;
    }
  }

  &--danger {
    border: 1px solid red;
    background: #d77174;
  }

  &--success {
    border: 1px solid green;
    background: #96d771;
  }
}
