@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@600&Poppins:wght@300;400;500;600;700;800;900&display=swap");

$color-primary: #000;
$color-secondary: #9a9a9a;
$color-white: #fff;
$color-orange: #ff3d00;

$primary: "Poppins", sans-serif;
$heading: "Big Shoulders Text", sans-serif;

$small: 480px;
$medium: 769px;
$large: 993px;
$xlarge: 1200px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary;
  font-size: 1rem;
  line-height: 1.4;
}

:root {
  --text: #333;
  --bg: #fcfcfc;
  --table: #eee;
}

html[data-theme="dark"] {
  --bg: #2f2f2f;
  --text: #fcfcfc;
  --table: #3d3d3d;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

.App {
  display: grid;
  grid-template-rows: 1fr 210px;
  height: 100vh;
}

