// category list on the top of page
.categorylist-wrap,
.taglist-wrap {
  margin: 3rem 0;

  .categorylist,
  .taglist {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;

    &__item {
      cursor: pointer;
      margin: 4px 3px;
      display: flex;

      &__link {
        background: var(--bg);
        padding: 0.5rem 1rem;
        border: 1px solid var(--text);
        text-decoration: none;
        color: var(--text);
        text-transform: uppercase;
        transition: all 0.6s;

        &:hover {
          background: var(--text);
          color: var(--bg);
        }
      }
    }
  }
}

.load-more__button {
  background: var(--bg);
  border: none;
  margin: 2rem auto 4rem;
  display: inherit;

  a {
    padding: 0.5rem 1rem;
    display: block;
    color: var(--text);
    text-decoration: none;
    text-transform: uppercase;
    border: 0px solid;
    outline: 1px solid;
    outline-color: var(--text);
    outline-offset: 0px;
    transition: all 0.6s cubic-bezier(0.36, 0.63, 0.5, 0.73);
    cursor: pointer;

    &:hover {
      border: 1px solid $color-orange;
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 15px;
      color: $color-orange;
    }
  }
}

