.comment {
  &__item {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 4px var(--text);
    box-shadow: 0 0 4px var(--text);

    &__left {
      img {
        width: 80px;
        height: 80px;
        border: 1px solid var(--text);
        border-radius: 100%;
      }
    }

    &__right {
      h5 {
        text-transform: uppercase;
        margin-bottom: 0.4rem;
      }

      p {
        margin-bottom: 0.4rem;
      }
    }
  }

  .subitem {
    margin-left: 5rem;
  }

  .subitem2 {
    margin-left: 10rem;
  }

  .subitem3 {
    margin-left: 15rem;
  }
}

