//dashboard
.dashboard-wrap {
  margin: 5rem 0 3rem 0;

  @include break($medium) {
    margin: 7rem 0 3rem 0;
  }

  .dashboard {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    min-height: calc(100vh - 354px);

    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      margin: 2rem 2rem 0;
      border-bottom: 1px solid #000;

      @include break($small) {
        flex-direction: row;
      }

      &__left {
        &__user {
          font-size: 1.4rem;
          text-transform: uppercase;
          font-family: $heading;
        }
      }

      &__right {
        &__logout {
          background: var(--bg);
          padding: 0.5rem 1rem;
          border: 1px solid var(--text);
          text-decoration: none;
          color: var(--text);
          text-transform: uppercase;
          cursor: pointer;
          transition: all 0.6s;
          margin-top: 1rem;

          @include break($small) {
            margin-top: 0;
          }

          &:hover {
            background: var(--text);
            color: var(--bg);
          }
        }
      }
    }

    &__navigation {
      padding: 1rem;
      margin: 0 2rem 2rem;
      border-bottom: 1px solid var(--text);

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @include break($medium) {
          flex-direction: row;
        }
      }

      &__item {
        color: var(--text);
        font-size: 1.2rem;
        padding: 1rem;
        text-decoration: none;
        transition: all 0.6s;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

