.detail {
  margin: 5rem auto;
  display: block;
  width: 90%;

  @include break($medium) {
    margin: 7rem auto 4rem;
  }

  @include break(1000px) {
    max-width: 1000px;
  }

  &__title {
      background: transparent;
      color: inherit;
      text-align: center;
      font-size: 1.5rem;
      font-family: $heading;
      margin-bottom: 1rem;
      font-weight: 400;

    @include break($medium) {
      font-size: 2em;
      margin-bottom: 3rem;
    }

    @include break($large) {
      font-size: 2.25em;
    }
  }

  &__main {
    display: none;
    margin-bottom: 0.5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    position: relative;

    @include break($medium) {
      display: grid;
      grid-template-columns: 1fr;
    }

    img {
      width: 100%;
      opacity: 1;
      transition-duration: 1s;
    }
  }

  &__thumbs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 0.5rem;
    justify-items: center;

    &__item {
      cursor: pointer;
      width: 100%;
      height: 110px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0 0 4px $color-primary;
      box-shadow: 0 0 4px $color-primary;
    }
  }
}

/* react-image-gallery styles */
.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 0 10px !important;
}

.image-gallery-thumbnail {
  border: 2px solid transparent !important;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  scale: 1;
  border: 2px solid rgba($color-primary, 0.7) !important;
  padding: 4px;
}

.image-gallery-icon:hover {
  color: rgba($color-secondary, 0.7) !important;
  background-color: rgba($color-primary,  0.7);
  border: none;
  filter: none;
}
