.footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-primary;

  &__logo {
    height: 100px;
    margin: 0 auto;
    fill: var(--text);
  }

  &__copyright p {
    font-size: 0.9rem;
    margin-top: 1rem;
    text-align: center;
  }
}

