.footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-primary;

  &__logo {
    display: flex;
    margin: 0 auto;

    &__icon {
      fill: $color-secondary;
      font-size: 4rem;
    }
  }

  &__copyright p {
    font-size: 0.9rem;
    margin-top: 1rem;
    text-align: center;
    color: $color-secondary;
  }
}

