.hero {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to top, #151515ba, #484848cc),
    url(/img/hero.png) no-repeat center center;
  background-size: cover;

  h1,
  h2 {
    color: $color-white;
    font-family: $heading;
    font-size: 2.5rem;
    text-align: center;
    padding: 0 1rem;
  }

  h1 {
    @include break($medium) {
      font-size: 5rem;
    }

    @include break($large) {
      font-size: 7rem;
    }
  }

  h2 {
    border-right: 5px solid $color-orange;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    max-width: 340px;

    @include break($medium) {
      border-right: 10px solid $color-orange;
      max-width: 680px;
      font-size: 5rem;
    }

    @include break($large) {
      max-width: 950px;
      font-size: 7rem;
    }
  }

  &__animation {
    animation: typewriter 6s steps(23) infinite both,
      blinkingCursor 500ms steps(23) infinite;
  }

  @keyframes typewriter {
    0% {
      width: 0;
    }

    70% {
      width: 100%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes blinkingCursor {
    from {
      border-right-color: $color-orange;
    }
    to {
      border-right-color: transparent;
    }
  }
}
