// page loader
.loading__placeholder {
  display: grid;
  place-content: center;
}

.posts__placeholder,
.category__placeholder {
  display: grid;
  place-content: center;
  height: calc(100vh - 358px);
}

.circle {
  --size: 48px;
  --color: var(--text);
  --animation-timing-function: linear;
  --animation-duration: 2s;
  width: var(--size);
  height: var(--size);
  mask-image: radial-gradient(
    circle at 50% 50%,
    transparent calc(var(--size) / 4),
    black calc(var(--size) / 4)
  );
  background-image: conic-gradient(
    from 0deg,
    var(--color) 0deg,
    var(--color) 10deg,
    transparent 10deg,
    transparent 30deg,
    var(--color) 30deg,
    var(--color) 50deg,
    transparent 50deg,
    transparent 70deg,
    var(--color) 70deg,
    var(--color) 90deg,
    transparent 90deg,
    transparent 110deg,
    var(--color) 110deg,
    var(--color) 130deg,
    transparent 130deg,
    transparent 150deg,
    var(--color) 150deg,
    var(--color) 170deg,
    transparent 170deg,
    transparent 190deg,
    var(--color) 190deg,
    var(--color) 210deg,
    transparent 210deg,
    transparent 230deg,
    var(--color) 230deg,
    var(--color) 250deg,
    transparent 250deg,
    transparent 270deg,
    var(--color) 270deg,
    var(--color) 290deg,
    transparent 290deg,
    transparent 310deg,
    var(--color) 310deg,
    var(--color) 330deg,
    transparent 330deg,
    transparent 350deg,
    var(--color) 350deg,
    var(--color) 360deg
  );
  border-radius: 50%;
  transform: rotate(0deg);
  animation: var(--animation-timing-function) var(--animation-duration) infinite
    circle-spin-7-animation;
}

@keyframes circle-spin-7-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;

  .loader {
    width: 300px;
    height: 200px;

    #grey {
      fill: #ddd;
    }

    #blue {
      fill: $color-primary;
      stroke: $color-primary;
      animation: blue-line 0.5s ease-in-out infinite;
    }
  }
}

@keyframes blue-line {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.square-move-2 {
  --size: 36px;
  --color: #fff;
  --animation-timing-function: linear;
  --animation-duration: 2s;
  position: relative;
  width: var(--size);
  height: var(--size);
}

.square-move-2::before,
.square-move-2::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: var(--color);
}

.square-move-2::before {
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
  animation: var(--animation-timing-function) var(--animation-duration) infinite
    square-move-2-animation-before;
  background-color: $color-primary;
}

.square-move-2::after {
  right: 0;
  bottom: 0;
  transform: translate(0%, 0%);
  animation: var(--animation-timing-function) var(--animation-duration) infinite
    square-move-2-animation-after;
}

@keyframes square-move-2-animation-before {
  0% {
    transform: translate(0%, 0%);
  }

  25% {
    transform: translate(100%, 0%);
  }

  50% {
    transform: translate(100%, 100%);
  }

  75% {
    transform: translate(0%, 100%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes square-move-2-animation-after {
  0% {
    transform: translate(0%, 0%);
  }

  25% {
    transform: translate(-100%, 0%);
  }

  50% {
    transform: translate(-100%, -100%);
  }

  75% {
    transform: translate(0%, -100%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}
