.login {
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  max-width: 700px;
  display: flex;
  flex-direction: column;

  &__input {
    margin: 24px 0 8px;
    position: relative;

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
      width: 100%;
      background: transparent;
      border: none;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      font-size: 1rem;
      font-family: $primary;
      color: inherit;
    }

    &__border {
      border: 0;
      border-bottom: 1px solid rgb(202, 201, 201);
      padding: 10px 0;
      background-color: transparent;

      &:focus ~ .bb {
        width: 100%;
        transition: 0.8s;
      }

      ~ .bb {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--text);
      }

      &::placeholder {
        color: inherit;
      }
    }
  }

  &__button {
    &__send {
      font-family: $heading;
      outline: none;
      margin: 30px auto;
      transition: all 0.6s ease;
      opacity: 1;
      border-radius: 4px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      letter-spacing: 2px;
      text-transform: uppercase;
      width: 250px;
      font-size: 1rem;
      padding: 8px 20px;
      font-weight: 900;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      cursor: pointer;
      border: none;
      display: block;
      background: var(--text);
      color: var(--bg);

      @include break($medium) {
        padding: 1rem 2rem;
        width: 300px;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

