// pagination on the bottom of the page
.pagination-wrap {
  margin: 2rem;

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;

    .page-item {
      padding: 0.5rem 1rem;
      border: 1px solid var(--text);
      cursor: pointer;
      margin: 2px 3px;
      color: var(--text);
      background: var(--bg);
      transition: all 0.6s;

      &:hover {
        background: var(--text);
        color: var(--bg);
      }

      &:last-child:hover {
        color: unset;
        background: unset;
        cursor: auto;
      }

      &--current {
        background: var(--text);
        color: var(--bg);
      }
    }
  }
}

.pagination-wrap2 {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;

  @include break($medium) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;

    .page-item {
      padding: 0.5rem 1rem;
      border: 1px solid var(--text);
      cursor: pointer;
      margin: 2px 3px;
      color: var(--text);
      background: var(--bg);
      transition: all 0.6s;

      &:hover {
        background: var(--text);
        color: var(--bg);
      }
    }

    .no-hover:hover {
      color: unset;
      background: unset;
      cursor: auto;
    }

    .first {
      &:before {
        content: "<<";

        @include break($medium) {
          content: "First";
        }
      }
    }

    .previous {
      &:before {
        content: "<";

        @include break($medium) {
          content: "Previous";
        }
      }
    }

    .next {
      &:before {
        content: ">";

        @include break($medium) {
          content: "Next";
        }
      }
    }

    .last {
      &:before {
        content: ">>";

        @include break($medium) {
          content: "Last";
        }
      }
    }
  }

  .total {
    padding: 0.5rem 1rem;
    border: 1px solid var(--text);
    margin: 4px auto;
    color: var(--text);
    background: var(--bg);

    @include break($medium) {
      margin: initial;
    }
  }
}

