// post detail page
.detail {
  margin: 5rem auto;
  display: block;
  width: 90%;

  @include break($medium) {
    margin: 7rem auto 4rem;
  }

  @include break(1000px) {
    max-width: 1000px;
  }

  &__featured-image {
    background-size: cover;
    position: relative;
    border: 5px solid white;
    -webkit-box-shadow: 0 0 4px $color-primary;
    box-shadow: 0 0 4px $color-primary;
    overflow: hidden;

    height: 300px;
    width: 100%;
    display: grid;
    place-content: center;
    margin-bottom: 0.5rem;

    &__title {
      background: transparent;
      color: $color-secondary;
      text-align: center;
      font-size: 1.5rem;
      font-family: $heading;
      font-weight: 400;
      padding: 1rem;
      background: rgba($color-primary, 0.6);

      @include break($medium) {
        font-size: 2em;
      }

      @include break($large) {
        font-size: 2.25em;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem;

    @include break($medium) {
      margin: 0 2rem 1rem;
    }

    &__left {
      display: flex;
      align-items: center;

      &__image {
        border: 1px solid var(--text);
        border-radius: 100%;
        margin-right: 3px;
      }

      &__author,
      &__date,
      &__comments {
        margin-right: 0.5rem;
        display: flex;
        align-items: center;

        svg {
          margin-right: 3px;
          width: 13px;
          height: 13px;
        }

        span {
          font-size: 13px;
          margin-right: 3px;
          padding-top: 2px;
        }
      }

      &__author {
        text-transform: uppercase;
      }

      &__comments {
        span:nth-of-type(1) {
          display: none;

          @include break($medium) {
            display: block;
          }
        }
      }
    }

    &__right {
      display: flex;

      &__category {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;

          li:first-child {
            margin-right: 4px;
            font-size: 12px;
          }

          span {
            display: none;

            @include break($medium) {
              display: block;
            }
          }
        }

        &__pill {
          background: var(--bg);
          margin: 8px 2px;
          color: var(--text);
          padding: 4px 10px;
          display: inline-flex;
          border-radius: 10px;
          font-size: 0.5rem;
          border: 1px solid var(--text);
          text-decoration: none;
          transition: all 0.6s;

          &:hover {
            background: var(--text);
            color: var(--bg);
          }
        }
      }
    }
  }

  &__content {
    display: flow-root;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0.5rem;
      font-weight: 400;
    }

    h1 {
      font-size: 1.813rem;
    }
    h2 {
      font-size: 1.688rem;
    }
    h3 {
      font-size: 1.563rem;
    }
    h4 {
      font-size: 1.5rem;
    }
    h5 {
      font-size: 1.375rem;
    }
    h6 {
      font-size: 1.313rem;
    }

    ul,
    ol {
      margin: 0 0 1rem 1.5rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  &__button {
    background: var(--bg);
    border: none;
    margin: 2rem auto 4rem;
    display: inherit;

    a {
      padding: 0.5rem 1rem;
      display: block;
      color: var(--text);
      text-decoration: none;
      text-transform: uppercase;
      border: 0px solid;
      outline: 1px solid;
      outline-color: var(--text);
      outline-offset: 0px;
      transition: all 0.6s cubic-bezier(0.36, 0.63, 0.5, 0.73);

      &:hover {
        border: 1px solid $color-orange;
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        color: $color-orange;
      }
    }
  }
}

