.search {
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 50%;
    height: 34px;
    border: none;
    margin: 0 auto;
    border-bottom: 1px solid var(--text);

    &__input {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      padding: 0 15px;

      &__icon-left {
        color: #747474;
        font-size: 24px;
        margin: 3px 10px 0 0;
        vertical-align: middle;
      }

      input {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        font-size: 1rem;
        color: var(--text);
        background-color: transparent;

        &:focus {
          outline: none;

          &::placeholder {
            opacity: 0;
          }
        }

        &::placeholder {
          color: var(--text);
          transition: all 250ms ease-in-out;
        }
      }

      &__icon-right {
        color: #747474;
        font-size: 24px;
        vertical-align: middle;
        transition: all 200ms ease-in-out;
        cursor: pointer;
        margin-top: 3px;

        &:hover {
          color: #bebebe;
        }
      }
    }
  }

  &__content {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow-y: auto;
    background-color: var(--bg);
    box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.14);
    z-index: 111;
    // position: absolute;
    // top: 34px;

    @include break($medium) {
      min-height: 300px;
    }
    

    &__warning {
      color: var(--text);
      font-size: 1rem;
      display: grid;
      place-content: center;
      height: 100vh;
    }

    &__item {
      &__title {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 1rem;

        a {
          text-decoration: none;
          color: var(--text);
        }
      }
    }

    .wrap {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

